*, *::before, *::after{
  text-decoration: none;
}
.container{
  display: grid;
  justify-content: center;
}
.heading{
  display: grid;
  justify-content: center;
  justify-items: center;
}
.heading1{
  font-weight: 600;
  font-size: 2rem;
  color: #3c3c3c;
  margin-bottom: 0;
  margin-top: 0;
  letter-spacing: 5px;
}
.heading2{
  font-size: 1rem;
  color: #262627;
  letter-spacing: 2px;
  font-weight: 300;
  font-family: Arial, Helvetica, sans-serif;
}

.row{
  padding-top: 5vh;
}
.card_container{
  display: inline-block;
  position: relative;
  max-width: 1200px;
  display:flex;
  overflow-x: scroll;
  padding-left: 10px;
}
.card_container::-webkit-scrollbar{
  display: none;
}
.product{
  overflow:hidden;
  object-fit: contain;
    width: 200px;
    margin-right: 10px;
  text-align: left;
  background-color: #fff;
  border: 1px solid rgb(247, 242, 242);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding:7px;
  margin-bottom: 20px;
  margin-top: 20px;
  text-decoration: none;
  transition: transform 200ms;
}
.product:hover{
  transform: scale(1.05);
  background: rgb(230, 240, 243);
}
.product_thumb img{
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.title h6{
  font-size:1rem;
  font-family: "Poppins";
  color: #18181D;
  margin-bottom: 0;
  text-decoration: none;

}

.price{
  font-size: 1rem;
  text-decoration: none;
}

.price span{
  color: black;
  font-weight: 700;
  font-family: "arial";
  padding-top: 0;
}

.btn{
  display: flex;
  flex-direction: column;
}
.btn_custom{
  cursor: pointer;
  text-align: center;
  background-color: #b9ab11;
  font-size: 1rem;
  font-weight: 600;
  font-family: "Poppnins", sans-serif;
  padding: 12px 30px;
  transition: 0.3s;
  text-transform: uppercase;
  text-decoration: none;
  color: #F0F2F4;
}
.btn_custom:hover{
  background-color: #3c3c3c;
}

.card_content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
@media screen and (min-width: 300px) and (max-width: 400px) {
  .card_container {
      width: 300px;
    }
  
    .product {
      width: 155px;
    }
  .heading1{
    letter-spacing: 0;
    font-size: 2rem;
  }
  .heading2{
    letter-spacing: 0;
    font-size: 1rem;
  }
}
@media screen and (min-width: 400px) and (max-width: 500px) {
  .card_container {
    width: 400px;
  }

  .product {
    width: 150px;
  }

  .heading1 {
    letter-spacing: 0;
    font-size: 2rem;
  }

  .heading2 {
    letter-spacing: 0;
    font-size: 1rem;
  }
}
@media screen and (min-width: 500px) and (max-width: 600px) {
  .card_container{
    width:500px;
  }
  .product{
    width: 150px;
  }
  .btn{
    padding: 20px 30px;
  }
  .heading1{
    font-size: 1.4rem;
  }
  .heading2{
    font-size: 1rem;
    letter-spacing: 0;
  }
}
@media screen and (min-width: 600px) and (max-width: 700px) {
  .card_container {
    width: 600px;
  }

  .product {
    width: 150px;
  }

  .btn {
    padding: 20px 30px;
  }

  .heading1 {
    font-size: 1.4rem;
  }

  .heading2 {
    font-size: 1rem;
    letter-spacing: 0;
  }
}
@media screen and (min-width: 700px) and (max-width: 800px) {
  .card_container {
    width: 700px;
  }

  .product {
    width: 150px
  }
}
@media screen and (min-width: 800px) and (max-width: 1000px){
  .card_container {
      width: 800px;
    }
  .product{
    width: 160px
  }
}
@media screen and (min-width: 1000px) and (max-width: 1300px) {
  .card_container {
    width: 1000px;
  }

  .product {
    width: 180px
  }
}
@media screen and (min-width: 1300px) and (max-width: 1500px) {
  .card_container{
    width: 1200px;
  }
  .product{
    width: 180px;
  }
}
@media screen and (min-width: 1500px) {
  .product{
    width:200px;
  }
}



