.main_container {
    display: grid;
    justify-content: center;
    gap: 20px;
}

.contact {
    padding: 0 20px;
    max-width: 1400px;
    width: 100%;
    background-color: white;
}

.location {
    display: flex;
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
    flex-wrap: wrap;
    /* padding: 30px 0; */
}

.address {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    max-width: 100%;
    min-width: 290px;
    background-color: white;
    align-content: center;
    gap: 0.6rem
}


.map_container {
    width: 100%;
}

.map {
    width: 100%;
    height: 400px;
    padding: 5px;
    border: 0;
}

.lists {
    display: grid;
}

.address h1 {
    font-size: 1.5rem;
    margin-top: 0;
    font-family: Tahoma,
        Verdana,
        sans-serif;
    font-weight: 550;
}

.address h2 {
    font-size: 1rem;
    color: rgb(89, 86, 83);
}

.address li {
    line-height: 1.5;
    margin: 15px 0;
    font-size: 1rem;
}

/* form  */
.form_container {
    /* width: 100%; */
    /* padding: 30px 0; */
}

.contact_form {
    display: flex;
    background-color: white;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: auto;
    border-radius: 5px;
    width: 100%;
    height: auto;
    padding: 15px;
    gap: 1rem;
}

.info {
    background-color: white;
    padding: 20px;
}

.contact_input {
    display: flex;
    flex-direction: column;
}

.info h2 {
    font-size: 1rem;
    font-weight: 100;
    color: rgb(97, 97, 85);
}

.info h1 {
    font-size: 1.5rem;
    font-family: arial;
    font-weight: 550;
}

input,
textarea {
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    font-size: 0.7rem;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #3c69a4;
    color: white;
    padding: 14px 0;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

input[type="submit"]:hover {
    background-color: rgb(152, 178, 208);
    border: 1px solid black;
    transform: scale(0.9);
}

.people {
    display: grid;
    justify-content: flex-start;
    align-content: center;
    gap: 23px;
}

.card {
    display: flex;
    justify-content: space-between;
}

.people_details h3 {
    font-size: 0.8rem;
    font-weight: 400;
}

.people_details h2 {
    font-weight: 400;
    font-size: 1rem;
}

@media screen and (250px <=width <=400px) {
    .map {
        height: 300px;
    }

    .address h1 {
        font-size: 1rem;
    }
    .address h2{
        font-size: 0.8rem;
    }
         .info h1 {
             font-size: 1rem;
         }
    
         .info h2 {
             font-size: 0.8rem;
         }
        .address li {
            font-size: 0.8rem;
        }
}

@media screen and (400px <=width <=500px) {
    .map {
        height: 350px;
    }

}