/* Font */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: #ecf9ff;
}

.main{
  max-width: 1300px;
  margin: 0 auto;
  margin-top: 3rem;
}

.card_image img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  color: black;
  padding: 5px 5px;
  border-radius: 4px;
  font-weight: 540;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.cards_item{
  width: 120px;
}

.card {
  display: grid;
  justify-content: center;
  overflow: hidden;
}

.card_content {
  padding-top: 5px;
}
@media screen and (width <= 400px) {
  /* .cards{
    display: grid;
  } */
  .cards_item {
    width: 70px;
  }

  .card_content p {
    font-size: 0.7rem;
  }
  .btn{
    padding: 2px 3px;
  }
}
@media screen and (400px <= width <= 500px){
  .cards_item{
    width: 70px;
  }
    .card_content p{
      font-size: 0.7rem;
    }
}
@media screen and (500px <= width <= 700px) {
  .cards_item {
    width: 80px;
  }

  .card_content p {
    font-size: 0.6rem;
  }
}

