body {
    width: 100%;
    height: 100%;
}

#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-grow: 1;
    align-items: center;
    background-image: url("../assets/img/banner/b14.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #24262b;
    padding: 5% 6%;
    margin-top: 5%;
    border: 1px black;

}

#newsletter h1 {
    font-size: 1rem;
    font-weight: 500;
    color: white;
    margin-bottom: 0;
    margin-top: 0;
    font-family: Tahoma,
        Verdana,
        sans-serif;
}

#newsletter p {
    font-size: 1rem;
    font-weight: 300;
    color: #818ea0;
}

#newsletter p span {
    color: #ffbd27
}

#newsletter .submitform {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    flex-direction: row;
    flex-grow: 1;
}

#newsletter input {
    font-size: 1.5rem;
    width: 50%;
    border: 1px solid transparent;
    outline: none;
    margin: 0;
    min-width: 50%;
    padding: 10px 10px;
}

.nlbtn {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1px 0;
    color: white;
    background-color: #088178;
    cursor: pointer;
    outline: none;
    word-wrap: break-word;
    border: none;
    transition: 0.3s;
    word-wrap: break-word;
    width: 20%;
    white-space: normal;
}

#newsletter button:hover {
    background: transparent;
    border: 1px solid #088178;
}

@media screen and (min-width: 280px) and (max-width: 499px) {
    #newsletter p {
        font-size: 0.8rem;
    }

    #newsletter h1 {
        font-size: 1.2rem;
    }

    #newsletter input {
        font-size: 0.8rem;
        padding: 0px 4px;
    }

    .nlbtn {
        padding: 12px 0px;
        font-size: 0.8rem;
        word-wrap: break-word;
        width: 25%;
        white-space: normal
    }
}

@media screen and (min-width: 500px) and (max-width: 900px) {
    #newsletter p {
        font-size: 1rem;
    }

    #newsletter h1 {
        font-size: 1rem;
    }

    #newsletter input {
        font-size: 1rem;
    }

    .nlbtn {
        font-size: 1rem;
    }
}

@media screen and (min-width: 900px) and (max-width:1400px) {
    #newsletter p {
        font-size: 1rem;
    }

    #newsletter h1 {
        font-size: 1.5rem;
    }

    #newsletter input {
        font-size: 1rem;
    }

    .nlbtn {
        font-size: 1rem;
        padding: 1px 0px;
    }
}


/* footer */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    background-image: url("../assets/img/banner/b14.png");
    background-color: #24262b;
    padding: 0px 0px;
}

.footer_col {
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 100px
}

.footer_col h4 {
    font-size: 1.2rem;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer_col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer_col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer_col ul li p {
    font-size: 1rem;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer_col ul li p:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer_col .social_links p {
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer_col .social_links p:hover {
    color: #24262b;
    background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px) {
    .footer_col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer_col {
        width: 100%;
    }
}

@media screen and (max-width: 980px) {
    #newsletter {
        display: grid;
        width: 100%;
        gap: 30px;
    }

    #newsletter .submitform {
        justify-content: start;
    }

    #newsletter input {
        width: 70%;
    }
}